<div class="main_footer mx-0 row justify-content-center" >

    <div class="col-xl-4 ">
        <div class="logo col-2">
            <img width="111" height="111" src="../../../assets/images/logo.png" alt="">
        </div>
        <div class="desc">
            We introduce our selves as  LAND Interior and Architectural Design Consultancy – one of the best interior designers in Chennai. Chennai Luxury Interior and Architectural Design Consultancy
             has challenged the conventional way of interior designing and given new dimensions to the art of interior designing.
        </div>
        <div class="social-media d-flex mt-4">
            <div class="social" >
                <img src="../../../assets/images/brandico_facebook-rectsocial.png" alt="">
            </div>
            <div class="social" >
                <img src="../../../assets/images/brandico_linkedin-rectsocial.png" alt="">
            </div>
            <div class="social" >
                <img src="../../../assets/images/akar-icons_twitter-fillsocial.png" alt="">
            </div>
            <div class="social" >
                <img src="../../../assets/images/ant-design_youtube-filledsocial.png" alt="">
            </div>
           
            <div class="social" >
                <img src="../../../assets/images/bx_bxl-instagramsocial.png" alt="">
            </div>
        </div>

    </div>
    <div class="col-xl-1 gap"></div>
    <div class="col-xl-2 what_we_do">
        <span>WHAT WE DO</span>
        <div class="missions">
            <div>Interior Design</div>
            <div>Ketchen</div>
            <div>Ceiling</div>
            <div>Bedroom</div>
            <div>Smart Home</div>
            
        </div>
    </div>

    <div class="col-xl-2 contact">
        <span>Get in touch</span>
        <div class="missions">
            <div>landinteriors&#64;gmail.com</div>
            <div>+91 98987 65656</div>
 
            
        </div>

     

        
    </div>
    <div class=" navbar-nav d-flex mt-4">
        <a class="nav-link" aria-current="page" href="#">About</a>
        <a class="nav-link" href="#">Projects</a>
        <a class="nav-link" href="#">Studio</a>
        <a class="nav-link" href="#">Blog</a>
        <a class="nav-link" href="#">Contact</a>
        <!-- <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a> -->
    </div>
    <div class=" social-media_second d-flex mt-4">
        <div class="social" >
            <img src="../../../assets/images/brandico_facebook-rectsocial.png" alt="">
        </div>
        <div class="social" >
            <img src="../../../assets/images/brandico_linkedin-rectsocial.png" alt="">
        </div>
        <div class="social" >
            <img src="../../../assets/images/akar-icons_twitter-fillsocial.png" alt="">
        </div>
        <div class="social" >
            <img src="../../../assets/images/ant-design_youtube-filledsocial.png" alt="">
        </div>
       
        <div class="social" >
            <img src="../../../assets/images/bx_bxl-instagramsocial.png" alt="">
        </div>
    </div>
    
</div>