<div>
<div class="why_us">
    Why LAND Interiors
</div>
<div class="achievements">
    <div>
        <img src="../../../assets/images/image.png" alt="">
        <span>50 days or we pay you rent</span>
    </div>
    <div>
        <img src="../../../assets/images/bx_bx-home-smile.png" alt="">
        <span>1500+happy customers</span>
    </div>
    <div>
        <img src="../../../assets/images/teenyicons_certificate-outline.png" alt="">
        <span>300+ design experties</span>
    </div>
</div>
</div>