<div  class="mt-4">
    <div class="title">
        What we do?
    </div>
    <div class="row mx-0 mt-4">
        <div class="task_card col-xl-3 col-md-6">
            <img src="../../../assets/images/image 3kitchen.png" alt="">
            <span>Modular Kitchen</span>
        </div>

        <div class="task_card col-xl-3 col-md-6">
            <img src="../../../assets/images/image 4bedroom.png" alt="">
            <span>Bedroom</span>
        </div>

        <div class="task_card col-xl-3 col-md-6">
            <img src="../../../assets/images/image 8living.png" alt="">
            <span>Living room</span>
        </div>

        <div class="task_card col-xl-3 col-md-6">
            <img src="../../../assets/images/image 9home.png" alt="">
            <span>Home office</span>
        </div>

       
    </div>

    <div class="description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis, lectus magna fringilla urna, porttitor rhoncus dolor purus non enim praesent elementum facilisis leo, vel fringilla est ullamcorper eget nulla
    </div>
   
</div>